<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HTML5 Game</title>
        <meta name="description" content="A basic HTML5 game">
        <meta name="author" content="Testman">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet2.css') }}">
    </head>
    <body>
        <div><a href="game"  class="transparent">
            <p><span class="bg"></span><span class="base"></span><span class="text">PLAY</span></p>
        </a><a class="white" href="#">
            <p><span class="bg"></span><span class="base"></span><span class="text">HOW TO PLAY</span></p>
        </a><a class="silver" href="#">
            <p><span class="bg"></span><span class="base"></span><span class="text">OPTIONS</span></p>
        </a></div>
    </body>
</html>